<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBgnVOzXt4s1nrYFvekTLNcxmsASSgkToo</string>
	<key>GCM_SENDER_ID</key>
	<string>918791092406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialBoster</string>
	<key>PROJECT_ID</key>
	<string>social-booster-fb131</string>
	<key>STORAGE_BUCKET</key>
	<string>social-booster-fb131.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:918791092406:ios:e080605f1301e63aa3ce17</string>
</dict>
</plist>